<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search results</title>
    <style type="text/css">
        body {background-image: url(../../static/search_result.jpeg);
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;}
    </style>
</head>
<body>

{% block extra_javascript %}
    <script type="text/javascript" src="{{ url_for('static', filename='Bigdata.js')}}"></script>
    <script type="text/javascript">
        function getSearchResult() {
            var radios = document.getElementsByName("search_opt");
            var checkedCriteria;
            for (var i = 0, length = radios.length; i<length; i++){
                if (radios[i].checked){
                    checkedCriteria = radios[i].value;
                break;
                }
            }
            var search_result_url;
            if (checkedCriteria == "search_by_platform"){
                search_result_url = "{{ url_for('searchResultByPlatform', search_key='tmp')}}";
            } else{
                search_result_url = "{{ url_for('searchResultByName', search_key='tmp')}}";
            }
            var search_input = document.getElementById("search_keyword");
            var result_url = search_result_url.replace('tmp', search_input.value);
            window.location = result_url;
        }
        </script>
{% endblock %}

{% block content %}
<!--The search again function-->
<div id="search_again">
    <br>
    <input id="search_keyword" type="text" name="search" value="" style="width:46%;height: 40px;border-radius: 8px;opacity: 0.6;
        font-size: 20px;">
    <div id="logo" style="float:left; padding-right: 15px">
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Rancho&effect=fire-animation|3d-float|destruction|static">
        <div class="font-effect-fire-animation"; style="font-size: 30px">Game for you !</div>
    </div>
    <button onclick="getSearchResult()" type="submit" style="width: 47px;height: 45px;border-radius: 80px;font-size: 20px;background: white;opacity: 0.9;"> 🔍</button>
    <br>
        <form action="">
            <div class="font-effect-3d-float" style="font-size: 19px; color: black; padding-left: 230px">
                <input type="radio" name="search_opt" value="search_by_name"> Search By Name
                <input type="radio" name="search_opt" value="search_by_platform"> Search By Platform
            </div>
        </form>
</div>

<div id="Results" style="padding-left: 40px; color: black" class="font-effect-3d-float">
<link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Rancho&effect=fire-animation|3d-float|destruction|static">
<br>
    <h2>Results ( {{ game_list|length }} results found)</h2>
    <ul id="result">
        {%  for game in game_list %}
        <li style="font-size: 20px"><a href="{{ url_for('game_tem', game_name = game.title, game_platform = game.platform)}}">{{ game.title}}</a>
        &nbsp&nbsp&nbsp&nbsp{{ game.publisher}}
        <br><p id="info" style="font-size: 20px">Genre: {{ game.genre}} &nbsp&nbsp&nbsp Score:{{game.userscore}}</p></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
</body>
</html>
